{% extends 'base.html' %}

{% block content %}

<h1>ÚVODNÍ STRANA</h1>

    <a href="{% url 'add_room' %}">Přidat místnost</a><br><br>

    <a href="{% url 'list_room' %}">Seznam místností</a><br><br>

<h4>Hledat místnost:</h4>

    <form method="get" action="{% url 'search_room' %}"><br>
        <label for="name">Název místnosti:</label>
        <input type="text" name="name">

        <label for="capacity">Min. kapacita:</label>
        <input type="number" name="capacity" min="1">

        <label>
        <input type="checkbox" name="projector"> Projektor
        </label>

  <button type="submit">Hledat</button>
</form>

{% endblock %}